.material-symbols-outlined {
    font-variation-settings: 'FILL' 0, 'wght' 400, 'GRAD' 0, 'opsz' 24;
    vertical-align: middle;
}

.bg-grid-subtle {
    background-image: radial-gradient(#d1d5db 1px, transparent 1px);
    background-size: 24px 24px;
}

.code-tag::before {
    content: '<';
    color: #195de6;
}

.code-tag::after {
    content: ' />';
    color: #195de6;
}
